<h2>Update a Kitten!</h2>

<%= render partial: 'form' %>
<%= link_to 'Back', kitten_path(@kitten.id) %>
<%= link_to 'Remove Kitten', kitten_path(@kitten), method: 'delete', data: {confirm: 'Remove kitten from list?'}  %><br/>

